@import "tailwindcss";
@import "ag-grid-community/styles/ag-grid.css";

:root {
  --background: #f9f5f5;
  --foreground: #171717;
}

.ag-cell{ 
  background: #e6e4e4;
  border-radius: 14px;
  border: 2px solid #ffffff !important;
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  padding: 1px;
}

.ag-cell:focus{
  border: 2px solid #0e0d0d !important;
} 

.ag-cell:hover {
            transform: translateY(-2px);
        }

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.ag-header{
  font-weight: bold;
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  border-radius: 10px;
  border: #0a0a0a;
  border-top: 1px solid #e6e4e4;
  border-left: 1px solid #e6e4e4;
  border-right: 1px solid #e6e4e4;
  border-bottom: 1px solid #e6e4e4;
}     


.ag-row {
  border: 0;
  border-bottom: 10px solid #ffffff; 
}

.ag-root-wrapper.ag-layout-normal {
    height: 100%;
    border:0;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
}


.d-header {
  background: rgb(91, 177, 73) !important;
  text-align: center;
  font-weight: bold;
}

.e-header {
  background: rgb(132, 161, 204) !important;
  text-align: center;
  font-weight: bold;
}

.n-header {
  background: rgba(233, 127, 215, 1) !important;
  text-align: center;
  font-weight: bold;
}

.o-header {
  background: rgb(138, 136, 134) !important;
  text-align: center;
  font-weight: bold;
}



.weekend-header {
  color: red !important;
  text-align: center;
  font-weight: bold;
}

/* 헤더 중앙정렬 */
.ag-header-cell-label{
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  
}

.ag-root-wrapper{
  border-radius: 14px;
  border: #0a0a0a;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
}


/* style.css 파일에 추가 */
.day-cell {
  background-color: #f0f4c3; /* 연한 노란색 */
}

.ag-theme-alpine .night-cell {
  background-color: #c5cae9; /* 연한 파란색 */
}

.highlight-row {
  z-index: 2; /* 다른 row 위로 올라오게 */
}

.highlight-row::after {
  content: "";
  position: absolute;
  top: -6px;   /* 위로 살짝 침범 */
  bottom: -6px; /* 아래로 살짝 침범 */
  left: 0;
  right: 0;
  background: rgba(153, 118, 228, 0.799); /* 반투명 노랑 */
  border-radius: 6px;
  pointer-events: none; /* 클릭 막지 않음 */
  z-index: -1; /* highlight-row 텍스트보다 뒤로 */
}
